<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>AGENDENATOR</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link type="text/css" rel="stylesheet" href="..\..\css\style.css">
  <link type="text/css" rel="stylesheet" href="..\..\css\navbar.css">
  <link href="/assets/favicon.ico" rel="shortcut icon" type="image/x-icon" />
</head>

<body>
  <header>
    <%- include('../_nav') %>
  </header>
  <br>
  <fieldset class='container'>
    <h2>Add NPU</h2>
    <form action="/NPUs/<%= NPU.id %>?_method=PUT" class="d-inline" method="POST" autocomplete='off'>
      <label for="NPU">NPU</label>
      <select name="NPU" id="NPU" class='form-select form-select-lg' value='<%= NPU.NPU %>' required>
        <option value='A'>A</option>
        <option value='B'>B</option>
        <option value='C'>C</option>
        <option value='D'>D</option>
        <option value='E'>E</option>
        <option value='F'>F</option>
        <option value='G'>G</option>
        <option value='H'>H</option>
        <option value='I'>I</option>
        <option value='J'>J</option>
        <option value='K'>K</option>
        <option value='L'>L</option>
        <option value='M'>M</option>
        <option value='N'>N</option>
        <option value='O'>O</option>
        <option value='P'>P</option>
        <option value='Q'>Q</option>
        <option value='R'>R</option>
        <option value='S'>S</option>
        <option value='T'>T</option>
        <option value='V'>V</option>
        <option value='W'>W</option>
        <option value='X'>X</option>
        <option value='Y'>Y</option>
        <option value='Z'>Z</option>
      </select>
      <div class='row'>
        <div class='col'>
          <label for="chair">Chair</label>
          <input type="text" name="chair" id="chair" class='form-control' value='<%= NPU.chair %>' required>
        </div>
        <div class='col'>
          <label for="chairE">Chair Email</label>
          <input type="email" name="chairE" id="chairE" class='form-control' autocomplete='off'
            value='<%= NPU.chairE %>' required>
        </div>
      </div>
      <div class='row'>
        <div class='col'>
          <label for="Planner">Planner</label>
          <input type="text" name="planner" id="planner" class='form-control' value='<%= NPU.planner %>'
            autocomplete='off' required>
        </div>
        <div class='col'>
          <label for="PlannerE">Planner Email</label>
          <input type="email" name="plannerE" id="plannerE" class='form-control' value='<%= NPU.plannerE %>' required>
        </div>
      </div>
      <br><br>
      <div class='row'>
        <div class='col'>
          <label for="meeting">Meeting Recurrence & Time</label>
          <input type="text" name="meeting" id="meeting" class='form-control' value='<%= NPU.meeting %>' required>
        </div>
        <div class='col'>
          <label for="ZoomURL">Zoom Meeting Link</label>
          <input type="text" name="ZoomURL" id="ZoomURL" class='form-control' value='<%= NPU.ZoomURL %>' required>
        </div>
      </div>
      <div class='row'>
        <div class='col'>
          <label for="ZoomID">Zoom Meeting ID</label>
          <input type="text" name="ZoomID" id="ZoomID" class='form-control' value='<%= NPU.ZoomID %>' required>
        </div>
        <div class='col'>
          <label for="ZoomPW">Zoom Meeting Password</label>
          <input type="text" name="ZoomPW" id="ZoomPW" class='form-control' value='<%= NPU.ZoomPW %>' required>
        </div>
        <div class='col'>
          <label for="bylawsURL">Bylaws URL</label>
          <input type="text" name="bylawsURL" id="bylawsURL" class='form-control' value='<%= NPU.bylawsURL  %> '>
        </div>
        <div class="row">
          <div class="col-1">
            <label for="isHybrid">Hybrid?</label>
            <input type="checkbox" name="isHybrid" id="isHybrid" checked='false'>
          </div>
          <div class="col">
            <label for="location">Location</label>
            <input type="text" name="location" id="location" class='form-control' value='<%=NPU.location %>'>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <label for="nhoods">Neighborhoods</label>
            <input type="textarea" name="nhoods" id="nhoods" class='form-control' value='<%= NPU.nhoods.join(' ,') %>'>
          </div>
        </div>
      </div>
      <br><br>
      <button class='btn btn-success btn-lg d-block' id='submit' type='submit'>💾</button>
    </form>
  </fieldset>

  <script>
    // select the NPU that matches the application NPU
    var selectNPU = document.getElementById('NPU').options;
    var applNPU = '<%= NPU.NPU %>';
    for (var i = 0; i < selectNPU.length; i++) {
      if (selectNPU[i].value == applNPU) {
        selectNPU[i].selected = true;
      }
    }

  </script>
  <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
    integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
    crossorigin="anonymous"></script>
</body>

</html>