<head>
  <meta http-equiv='Content-Type' content='text/html' charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>AGENDENATOR</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link type="text/css" rel="stylesheet" href="/css/edit.css">
  <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon">
</head>

<body class='tablePage'>
  <header>
    <div>
      <div>
        <div class="col-md-11 text-center">
          <h1><a href='/'>AGENDENATOR</a></h1>
          <h2>
            <%= application.title.toUpperCase() %>
          </h2>
          <a class="btn btn-secondary" href="/applications">View All</a>
        </div>
      </div>
    </div>
  </header>
  <br>
  <form action="/applications/<%= application.id %>?_method=PUT" class="d-inline" method="POST">
    <table>
      <thead>
        <tr>
          <th>NPU</th>
          <th>Adj</th>
          <th>Month</th>
          <th>Type</th>
          <th>Title</th>
          <th>Applicant</th>
          <th>URLs</th>
          <th>Description</th>
          <th>Address</th>
          <th>Hearing Date</th>
          <th>Creation Date</th>
          <th>Delete</th>
        </tr>
      </thead>

      <tr>
        <td>
          <select name="NPU" id="NPU" value="<%= application.NPU %>" required>
            <option value='A'>A</option>
            <option value='B'>B</option>
            <option value='C'>C</option>
            <option value='D'>D</option>
            <option value='E'>E</option>
            <option value='F'>F</option>
            <option value='G'>G</option>
            <option value='H'>H</option>
            <option value='I'>I</option>
            <option value='J'>J</option>
            <option value='K'>K</option>
            <option value='L'>L</option>
            <option value='M'>M</option>
            <option value='N'>N</option>
            <option value='O'>O</option>
            <option value='P'>P</option>
            <option value='Q'>Q</option>
            <option value='R'>R</option>
            <option value='S'>S</option>
            <option value='T'>T</option>
            <option value='V'>V</option>
            <option value='W'>W</option>
            <option value='X'>X</option>
            <option value='Y'>Y</option>
            <option value='Z'>Z</option>
          </select>
        </td>
        <td>
          <select name="adjacent" id="adjacentNPUs" multiple>
            <option value='A'>A</option>
            <option value='B'>B</option>
            <option value='C'>C</option>
            <option value='D'>D</option>
            <option value='E'>E</option>
            <option value='F'>F</option>
            <option value='G'>G</option>
            <option value='H'>H</option>
            <option value='I'>I</option>
            <option value='J'>J</option>
            <option value='K'>K</option>
            <option value='L'>L</option>
            <option value='M'>M</option>
            <option value='N'>N</option>
            <option value='O'>O</option>
            <option value='P'>P</option>
            <option value='Q'>Q</option>
            <option value='R'>R</option>
            <option value='S'>S</option>
            <option value='T'>T</option>
            <option value='V'>V</option>
            <option value='W'>W</option>
            <option value='X'>X</option>
            <option value='Y'>Y</option>
            <option value='Z'>Z</option>
          </select>
        </td>
        <td>
          <select name="month" id="month" multiple required>
            <option value='January'>January</option>
            <option value='February'>February</option>
            <option value='March'>March</option>
            <option value='April'>April</option>
            <option value='May'>May</option>
            <option value='June'>June</option>
            <option value='July'>July</option>
            <option value='August'>August</option>
            <option value='September'>September</option>
            <option value='October'>October</option>
            <option value='November'>November</option>
            <option value='December'>December</option>
          </select>
        </td>
        <td>
          <select name='type' id='type' value="<%= application.type %>">
            <option value='MOSE'>MOSE</option>
            <option value='LRB'>LRB</option>
            <option value='BZA'>BZA</option>
            <option value='SUP'>SUP</option>
            <option value='ZRB'>ZRB</option>
            <option value='Text Amendment'>Text Amendment</option>
            <option value='CDP'>CDP Amendment</option>
            <option value='Legislation'>Proposed Legislation</option>
            <option value='SD'>SD</option>
            <option value='LOR'>LOR</option>
            <option value='Presentation'>Presentation</option>
            <option value='Notice'>Notice</option>
            <option value='N/A'>Other...</option>
          </select>
        </td>
        <td>
          <input name="title" type="text" name="title" value="<%= application.title %>">
        </td>
        <td>
          <input name='applicant' type='text' id='applicant' value='<%= application.applicant %>'>
        </td>
        <td>
          <input name='applURL' type='text' id='applURL' placeholder='URL' value='<%= application.applURL %>'><br>
          <input name='URL1' type='text' id='URL1' placeholder='URL' value='<%= application.URL1 %>'><br>
          <input name='URL2' type='text' id='URL2' placeholder='URL' value='<%= application.URL2 %>'><br>
          <input name='URL3' type='text' id='URL3' placeholder='URL' value='<%= application.URL3 %>'><br>
          <input name='URL4' type='text' id='URL4' placeholder='URL' value='<%= application.URL4 %>'>
        </td>
        <td>
          <input name="descr" type='text' id='descr' value='<%= application.descr %>'>
        </td>
        <td>
          <input type="text" name="address" value="<%= application.address %>">
        </td>
        <td>
          <input type="text" name="date" value="<%= application.date %>">
        </td>
        <td>
          <%= application.createdAt.toISOString().substring(0,10) %>
        </td>
        <td>
          <form class="d-inline" action="/applications/<%= application.id %>?_method=DELETE" method="POST">
            <button type="submit" class="btn btn-danger">🗑</button>
          </form>
        </td>
      </tr>
      <tr>
        <td class='notes' colspan='12'>
          <textarea name='notes' type='text' id='notes' width='100'><%= application.notes %></textarea>
        </td>
      </tr>
    </table>
    <br>
    <div class='col-md-11 text-center'>
      <button type="submit" class="btn btn-success">💾</button>
    </div>
  </form>
  <script>

    // select the NPU that matches the application NPU
    var selectNPU = document.getElementById('NPU').options;
    var applNPU = '<%= application.NPU %>';
    for (var i = 0; i < selectNPU.length; i++) {
      if (selectNPU[i].value == applNPU) {
        selectNPU[i].selected = true;
      }
    }

    // select the type that matches the application type
    var selectType = document.getElementById('type').options;
    var applType = '<%= application.type %>';
    for (var i = 0; i < selectType.length; i++) {
      if (selectType[i].value == applType) {
        selectType[i].selected = true;
      }
    }

    var adjacentNPUs = document.getElementById('adjacentNPUs').options;
    var adjs = '<%= application.adjacent %>';
    var adjArray = adjs.split(',');
    for (var i = 0; i < adjArray.length; i++) {
      for (var j = 0; j < adjacentNPUs.length; j++) {
        if (adjacentNPUs[j].value == adjArray[i]) {
          adjacentNPUs[j].selected = true;
        }
      }
    }

    // select all months that match the application month
    var months = document.getElementById('month').options;
    var month = '<%= application.month %>';
    var monthArray = month.split(',');
    for (var i = 0; i < monthArray.length; i++) {
      for (var j = 0; j < months.length; j++) {
        if (months[j].value == monthArray[i]) {
          months[j].selected = true;
        }
      }
    }
  </script>
</body>