<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>

<head>
  <meta http-equiv='Content-Type' content='text/html' charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>AGENDENATOR</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link type="text/css" rel="stylesheet" href="..\css\show.css">
  <link type="text/css" rel="stylesheet" href="..\css\navbar.css">
  <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon">
</head>

<body class='tablePage'>
  <header>
    <%- include('../_nav') %>
      <br>
      <h1 class='text-center col-md-11'>
        <a href="<%= application.applURL%>" target="_blank" rel="noopener noreferrer">
          <%= application.title.toUpperCase() %>
        </a>
      </h1>
  </header>

  <div>
    <br>
    <table>
      <thead>
        <tr>
          <th>NPU</th>
          <th>Adj</th>
          <th>Month</th>
          <th>Type</th>
          <% if (application.applicant) { %>
            <th>Applicant</th>
            <% } %>
              <% if (application.URL1 || application.URL2 || application.URL3 || application.URL4 ) { %>
                <th>Application URL</th>
                <% } %>
                  <th>Description</th>
                  <th>Address</th>
                  <th>Hearing Date</th>
                  <th>Creation Date</th>
                  <th>Edit</th>
                  <th>Delete</th>
        </tr>
      </thead>
      <tr>
        <td class='NPU'>
          <%= application.NPU %>
        </td>
        <td>
          <%= application.adjacent %>
        </td>
        <td>
          <%= application.month %>
        </td>
        <td>
          <%= application.type %>
        </td>
        <% if (application.applicant) { %>
          <td>
            <%= application.applicant %>
          </td>
          <% } %>
            <% if (application.URL1 || application.URL2 || application.URL3 || application.URL4) {%>
              <td>
                <% if (application.URL1) {%>
                  <a href='<%=application.URL1 %>' target='_blank'>
                    SURVEY
                  </a>
                  <% } %>
                    <% if (application.URL2) {%>
                      <br><a href='<%=application.URL2 %>' target='_blank'>
                        SITE PLAN
                      </a>
                      <% } %>
                        <% if (application.URL3) {%>
                          <br><a href='<%=application.URL3 %>' target='_blank'>
                            FLOOR PLAN
                          </a>
                          <% } %>
                            <% if (application.URL4) {%>
                              <br><a href='<%=application.URL4 %>' target='_blank'>
                                ELEVATIONS
                              </a>
                              <% } %>
              </td>
              <% } %>
                <td class='descr'>
                  <%= application.descr %>
                </td>
                <td>
                  <%= application.address %>
                </td>
                <td>
                  <%= application.date %>
                </td>
                <td>
                  <%= application.createdAt.toISOString().substring(0,10) %>
                </td>
                <td>
                  <a class="btn btn-warning" href="/applications/edit/<%= application.id %> ">✏</a>
                </td>
                <td>
                  <form class="d-inline" action="/applications/<%= application.id %>?_method=DELETE" method="POST">
                    <button type="submit" class="btn btn-danger">🗑
                    </button>
                  </form>
                </td>
      </tr>
      <% if (application.notes) { %>
        <tr>
          <td class='notes' colspan='12'>
            <%= application.notes %>
          </td>
        </tr>
        <% } %>
    </table>
  </div>
  <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
    integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
    crossorigin="anonymous"></script>
</body>

</html>