<head>
  <meta http-equiv='Content-Type' content='text/html' charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>AGENDENATOR</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link type="text/css" rel="stylesheet" href="..\css\style.css">
</head>

<body class='container tablePage'>
  <header>
    <div>
      <div>
        <div class="col-md-10 text-center">
          <h1><a href='/'>AGENDENATOR</a></h1>
          <h2>
            <%= application.title.toUpperCase() %>
          </h2>
          <a class="btn btn-secondary" href="/applications">View All</a>
          <a class="btn btn-warning" href="/applications/edit/<%= application.id %> ">Edit</a>
          <!-- <a class="btn btn-danger" href="/applications/delete/<%= application.id %> ">Delete</a> -->
        </div>
      </div>
    </div>
  </header>
  <br>
  <table>
    <thead>
      <tr>
        <th>NPU</th>
        <th>Adjacent</th>
        <th>Month</th>
        <th>Type</th>
        <th>Title</th>
        <th>Applicant</th>
        <th>URLs</th>
        <th>Description</th>
        <th>Address</th>
        <th>Hearing Date</th>
        <th>Creation Date</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tr>
      <td class='NPU'>
        <%= application.NPU %>
      </td>
      <td>
        <%= application.adjacent %>
      </td>
      <td>
        <%= application.month %>
      </td>
      <td>
        <%= application.type %>
      </td>
      <td>
        <%= application.title %>
      </td>
      <td>
        <%= application.applicant %>
      <td>
        <%= application.applURL %>
          <%= application.URL1 %>
            <%= application.URL2 %>
              <%= application.URL3 %>
                <%= application.URL4 %>
      </td>
      <td class='descr'>
        <%= application.descr %>
      </td>
      <td>
        <%= application.address %>
      </td>
      <td>
        <%= application.date %>
      </td>
      <td>
        <%= application.createdAt.toISOString().substring(0,10) %>
      </td>
      <td>
        <form class="d-inline" action="/<%= application.id %>?_method=DELETE" method="POST">
          <button type="submit" class="btn btn-danger">Delete
          </button>
        </form>
      </td>
    </tr>
    <% if (application.notes) { %>
      <tr>
        <td class='notes' colspan='12'>
          <%= application.notes %>
        </td>
      </tr>
      <% } %>
  </table>
</body>