<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>AGENDENATOR</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link type="text/css" rel="stylesheet" href="..\css\style.css">
</head>

<body class='container'>
  <header>
    <div>
      <div>
        <div class="col-md-10 text-center">
          <h1><a href='/'>AGENDENATOR</a></h1>
          <h2>
            <%= application.title %>
          </h2>
          <a class="btn btn-secondary" href="/applications">View All</a>
          <a class="btn btn-warning" href="/applications/edit/<%= application.id %> ">Edit</a>
          <!-- <a class="btn btn-danger" href="/applications/delete/<%= application.id %> ">Delete</a> -->
        </div>
      </div>
    </div>
  </header>
  <table>
    <thead>
      <tr>
        <th>NPU</th>
        <th>Adjacent</th>
        <th>Type</th>
        <th>Description</th>
        <th>Address</th>
        <th>Hearing Date</th>
      </tr>
    </thead>
    <tr>
      <td>
        <%= application.NPU %>
      </td>
      <td>
        <%= application.adjacent %>
      </td>
      <td>
        <%= application.type %>
      </td>
      <td>
        <%= application.title %>
      </td>
      <td>
        <%= application.descr %>
      </td>
      <td>
        <%= application.address %>
      </td>
      <td>
        <%= application.date %>
      </td>
      <td>
        <%= application.createdAt %>
      </td>
      <td>
        <form class="d-inline" action="/applications/<%= application.id %>?_method=DELETE" method="POST">
          <button type="submit" class="btn btn-danger">Delete
          </button>
        </form>
      </td>
    </tr>
  </table>
</body>