<!DOCTYPE html>

<head>
  <meta charset="utf-8">
  <title>AGENDENATOR</title>
</head>

<body>
  <article style="width: 8.5in;margin: 50px auto;padding: 20px;border: .25pt solid black;border-collapse: collapse;"
    id="article">
    <div style="width: 8.5in;">
      <div style="width: 8in">
        <div>
          <p style="text-align: center;font-size: 40pt;font-weight: bold;margin: 0;font-family: 'Tungsten-SemiBold';">
            NEIGHBORHOOD PLANNING UNIT-<%= NPUs.NPU %>
          </p>
          <p
            style="text-align: center;font-size: 12pt;font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;color: teal;">
            <strong>
              <%= NPUs.meeting %>
            </strong>
          </p>
          <p
            style="text-align: center;font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;font-size: 12pt;margin-bottom: 0;">
            Register in advance by clicking <a href="<%=NPUs.ZoomURL %>" noopener>here</a>
            <br>
            Meeting ID: <%= NPUs.ZoomID %> Password: <%= NPUs.ZoomPW %><br> Dial-in: +1 686 123 4567
          </p>
          <br>
          <p
            style="font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;text-align: left;font-size: 10.5pt;">
            <strong>CONTACT INFORMATION</strong>
            <br>
            <%= NPUs.chair %> , <strong>Chair</strong> - <a href="mailto:<%= NPUs.chairE %>"
                style="text-align: left;font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;color: black;text-decoration: underline;">
                <%= NPUs.chairE %>
              </a>
              <br>
              Simit Dunlap, <strong>Vice Chair</strong> - <a href="mailto:simit@atlantaga.gov"
                style="text-align: left;font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;color: black;text-decoration: underline;">simit@atlantaga.gov</a>
              <br>
              Leah LaRue, <strong>City of Atlanta, Director</strong> - 404.330.6070 or <a
                href="mailto:llarue@atlantaga.gov"
                style="text-align: left;font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;color: black;text-decoration: underline;">llarue@atlantaga.gov</a>
              <br>
              <%= NPUs.planner %>, <strong>Planner</strong> - <a href="mailto:<%= NPUs.plannerE %>"
                  style="text-align: left;font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;color: black;text-decoration: underline;">
                  <%= NPUs.plannerE %>
                </a>
          </p>
        </div>
        <div style="font-size: 25pt;font-weight: bold;font-family: 'Century Gothic', CenturyGothic;">
          <p>AGENDA</p>
          <ol>
            <li>Invocation</li>
            <li>Approval of Minutes</li>
            <li>Public Comment</li>
            <li>Presentations</li>
            <!-- create li for each Application where type = 'N/A' -->
            <ul>
              <% applications.forEach(Application=> { %>
                <% if ( Application.type==='Presentation' ) { %>
                  <li>
                    <%= Application.title + ' - ' + Application.descr %>
                  </li>
                  <% } %>
                    <% }) %>
            </ul>
            <li>Matters for Voting</li>
            <li>Old Business</li>
            <li>New Business</li>
            <li>Adjournment</li>
          </ol>
        </div>
        <br>
        <table id="bylawsBox" style="border: 1pt double black; margin: 30px;">
          <tr
            style="text-align: center;font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;font-size: 12pt;margin-bottom: 0;">
            <th
              style="text-align: center;font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;font-size: 12pt;margin-bottom: 0;">
              NPU-<%= NPUs.NPU %> Bylaws
            </th>
          </tr>
          <tr>
            <td style="font-family: Calibri;font-size: 10pt;padding: 1%;line-height: 1;">NPU-<%= NPUs.NPU %>
                VOTING RULES per 2022 Bylaws
                Each member organization of NPU-<%= NPUs.NPU %> may select two representatives, either of whom may cast
                  a single, indivisible vote at NPU-<%= NPUs.NPU %> meetings. Member organizations represent
                    neighborhood, civic and business associations which have geographical boundaries within the NPU. Any
                    organization wishing to become a member may petition for membership (Article III).
            </td>
          </tr>
        </table>
        <div class="page-break" style="page-break-after: always;"></div>
        <div id="mattersForVoting">
          <p
            style="text-align: center;font-family: 'Century Gothic';font-size: 18pt;margin-bottom: 0;break-after: avoid-page;">
            MATTERS FOR VOTING</p>
          <p
            style="font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;text-align: center;size: 10pt;margin: 0 20px 20px 20px;padding: 0 20px;">
            NPUs provide recommendations to the City of Atlanta by voting to support or oppose applications. The
            application and the NPU’s recommendations, along with Staff recommendations, are then considered by the
            appropriate board, association, commission, or office.</p>
          <table
            style="margin: 0 auto 25px auto;break-inside: avoid;text-align: center;font-family: Arial;size: 10pt;border: .25pt solid rgb(105, 105, 105);width: 100%;border-collapse: collapse;">
            <thead>
              <tr style="background-color: gold;">
                <th colspan="4" style="text-align: center;font-family: Arial;size: 12pt; font-weight: bold;"><a
                    style="color:initial; text-decoration:initial"
                    href="https://www.atlantaga.gov/government/mayor-s-office/executive-offices/office-of-special-events">Special
                    Event Applications (MOSE)</a></th>
              </tr>
              <tr style="border: .25pt solid black;font-size: 10pt;height: .2in;">
                <th style="border: .25pt solid black;text-align: center;font-family: Arial;size: 10pt;">Event
                  Name</th>
                <th style="border: .25pt solid black;text-align: center;font-family: Arial;size: 10pt;">Event
                  Organizer</th>
                <th style="border: .25pt solid black;text-align: center;font-family: Arial;size: 10pt;">Event
                  Location</th>
                <th style="border: .25pt solid black;text-align: center;font-family: Arial;size: 10pt;">Event
                  Date</th>
              </tr>
            </thead>
            <tbody>
              <!-- create tr for each Application where type = 'MOSE' -->
              <% applications.forEach(Application=> { %>
                <% if ( Application.type==='MOSE' && Application.NPU==NPUs.NPU ) { %>
                  <tr>
                    <td style="border: .25pt solid black;text-align: center;font-family: Arial;size: 12pt;"
                      valign="top"><a href="<%= Application.applURL %>">
                        <%= Application.title.trim() %>
                      </a></td>
                    <td style="border: .25pt solid black;text-align: center;font-family: Arial;size: 12pt;"
                      valign="top">
                      <%= Application.descr %>
                    </td>
                    <td style="border: .25pt solid black;text-align: center;font-family: Arial;size: 12pt;"
                      valign="top">
                      <%= Application.address %>
                    </td>
                    <td style="border: .25pt solid black;text-align: center;font-family: Arial;size: 12pt;"
                      valign="top">
                      <%= Application.date %>
                    </td>
                  </tr>
                  <% } %>
                    <% }) %>
            </tbody>
          </table>
        </div>
        <div>
          <table
            style="margin: 0 auto 25px auto;break-inside: avoid;text-align: center;font-family: Arial;size: 10pt;border: .25pt solid rgb(105, 105, 105);width: 100%;border-collapse: collapse;">
            <thead>
              <tr style="background-color: palegoldenrod;">
                <th colspan="5" style="text-align: center;font-family: Arial;size: 12pt; font-weight: bold;"><a
                    style="color:initial; text-decoration:initial"
                    href="https://www.atlantapd.org/business/license-review-board">Alcohol License Applications
                    (LRB)</a></th>
              </tr>
              <tr style="font-size: 10pt;height: .2in;">
                <th style="border: .25pt solid black;text-align: center;font-family: Arial;size: 10pt;">
                  Name
                  of Business</th>
                <th style="border: .25pt solid black;text-align: center;font-family: Arial;size: 10pt;">
                  Type
                  of Business</th>
                <th style="border: .25pt solid black;text-align: center;font-family: Arial;size: 10pt;">
                  Applicant</th>
                <th style="border: .25pt solid black;text-align: center;font-family: Arial;size: 10pt;">
                  Property Address</th>
                <th style="border: .25pt solid black;text-align: center;font-family: Arial;size: 10pt;">
                  Request</th>
              </tr>
            </thead>
            <tbody>
              <!-- create tr for each Application where type = 'LRB' -->
              <% applications.forEach(Application=> { %>
                <% if ( Application.type==='LRB' && Application.NPU==NPUs.NPU ) { %>
                  <tr>
                    <td
                      style="border-bottom: 1px solid black;text-align: center;font-family: Arial;size: 10pt;border: .25pt solid rgb(105, 105, 105);"
                      valign="top"><a href="<%= Application.applURL %>">
                        <%= Application.title %>
                      </a></td>
                    <td
                      style="border-bottom: 1px solid black;text-align: center;font-family: Arial;size: 10pt;border: .25pt solid rgb(105, 105, 105);"
                      valign="top">
                      <%= Application.type %>
                    </td>
                    <td
                      style="border-bottom: 1px solid black;text-align: center;font-family: Arial;size: 10pt;border: .25pt solid rgb(105, 105, 105);"
                      valign="top">
                      <%= Application.applicant %>
                    </td>
                    <td
                      style="border-bottom: 1px solid black;text-align: center;font-family: Arial;size: 10pt;border: .25pt solid rgb(105, 105, 105);"
                      valign="top">
                      <%= Application.address %>
                    </td>
                    <td
                      style="border-bottom: 1px solid black;text-align: center;font-family: Arial;size: 10pt;border: .25pt solid rgb(105, 105, 105);"
                      valign="top">
                      <%= Application.descr %>
                    </td>
                  </tr>
                  <% } %>
                    <% }) %>
            </tbody>
          </table>
        </div>
        <div>
          <table
            style="margin: 0 auto 25px auto;break-inside: avoid;text-align: center;font-family: Arial;size: 10pt;border: .25pt solid rgb(105, 105, 105);width: 100%;border-collapse: collapse;">
            <thead>
              <tr style="background-color: palegoldenrod;">
                <th colspan="3" style="text-align: center;font-family: Arial;size: 12pt; font-weight: bold;"><a
                    style="color:initial; text-decoration:initial"
                    href="https://www.atlantaga.gov/government/departments/city-planning/office-of-zoning-development/zoning/board-of-zoning-adjustment-bza"
                    board of zoning adjustment applications (bza)>Board of Zoning Adjustment Applications (BZA)</a></th>
              </tr>
              <tr style="font-size: 10pt;height: .2in;">
                <th style="border: .25pt solid black;text-align: center;font-family: Arial;size: 10pt;">
                  Application</th>
                <th style="border: .25pt solid black;text-align: center;font-family: Arial;size: 10pt;">
                  Property Address</th>
                <th style="border: .25pt solid black;text-align: center;font-family: Arial;size: 10pt;">
                  Public Hearing</th>
              </tr>
            </thead>
            <tbody>
              <!-- create tr for each Application where type = 'BZA' -->
              <% applications.forEach(Application=> { %>
                <% if ( Application.type==='BZA' && Application.NPU==NPUs.NPU ) { %>
                  <tr>
                    <td style="text-align: left;font-family: Arial;size: 10pt;border: .25pt solid rgb(105, 105, 105);">
                      <a href="<%= Application.applURL %> ">
                        <%= Application.title %>
                      </a>
                      <%= Application.descr %>
                    </td>
                    <td
                      style="border-bottom: 1px solid black;text-align: center;font-family: Arial;size: 10pt;border: .25pt solid rgb(105, 105, 105);"
                      valign="top">
                      <%= Application.address %>
                    </td>
                    <td
                      style="border-bottom: 1px solid black;text-align: center;font-family: Arial;size: 10pt;border: .25pt solid rgb(105, 105, 105);"
                      valign="top">
                      <%= Application.date %>
                    </td>
                  </tr>
                  <% } %>
                    <% }) %>
            </tbody>
          </table>
        </div>
        <div>
          <table
            style="margin: 0 auto 25px auto;break-inside: avoid;text-align: center;font-family: Arial;size: 10pt;border: .25pt solid rgb(105, 105, 105);width: 100%;border-collapse: collapse;">
            <thead>
              <tr style="background-color: palegoldenrod;">
                <th colspan="3" style="text-align: center;font-family: Arial;size: 12pt; font-weight: bold;"><a
                    style="color:initial; text-decoration:initial"
                    href="https://www.atlantaga.gov/government/departments/city-planning/office-of-zoning-development/zoning/zoning-review-board-zrb">Zoning
                    Review Board Applications (ZRB)</a></th>
              </tr>
              <tr style="font-size: 10pt;height: .2in;">
                <th style="border: .25pt solid black;text-align: center;font-family: Arial;size: 10pt;">
                  Application</th>
                <th style="border: .25pt solid black;text-align: center;font-family: Arial;size: 10pt;">
                  Property Address</th>
                <th style="border: .25pt solid black;text-align: center;font-family: Arial;size: 10pt;">
                  Public Hearing</th>
              </tr>
            </thead>
            <tbody>
              <!-- create tr for each Application where type = 'ZRB' -->
              <% applications.forEach(Application=> { %>
                <% if ( Application.type==='ZRB' && Application.NPU==NPUs.NPU ) { %>
                  <tr>
                    <td style="text-align: left;font-family: Arial;size: 10pt;border: .25pt solid rgb(105, 105, 105);">
                      <a href="<%= Application.applURL %> ">
                        <%= Application.title %>
                      </a><br>
                      <%= Application.descr %><br><a href="<%= Application.URL1 %>">SURVEY</a>
                        <% if(Application.URL2) {%>
                          , <a href="<%= Application.URL2 %>">SITE PLAN</a>
                          <% } %>
                            <% if(Application.URL3) {%>
                              , <a href="<%= Application.URL3 %>">FLOOR PLAN</a>
                              <% } %>
                                <% if(Application.URL4) {%>
                                  , <a href="<%= Application.URL4 %>">ELEVATIONS</a>
                                  <% } %>
                    </td>
                    <td
                      style="border-bottom: 1px solid black;text-align: center;font-family: Arial;size: 10pt;border: .25pt solid rgb(105, 105, 105);"
                      valign="top">
                      <%= Application.address %>
                    </td>
                    <td
                      style="border-bottom: 1px solid black;text-align: center;font-family: Arial;size: 10pt;border: .25pt solid rgb(105, 105, 105);"
                      valign="top">
                      <%= Application.date %>
                    </td>
                  </tr>
                  <% } %>
                    <% }) %>
            </tbody>
          </table>
        </div>
        <div>
          <table
            style="margin: 0 auto 25px auto;break-inside: avoid;text-align: center;font-family: Arial;size: 10pt;border: .25pt solid rgb(105, 105, 105);width: 100%;border-collapse: collapse;">
            <thead>
              <tr style="background-color: palegoldenrod;">
                <th colspan="3" style="text-align: center;font-family: Arial;size: 12pt; font-weight: bold;"><a
                    style="color:initial; text-decoration:initial"
                    href="https://www.atlantaga.gov/government/departments/city-planning/office-of-zoning-development/zoning/zoning-review-board-zrb"
                    noopener noreferrer>Text Amendments - Zoning Ordinance</a></th>
              </tr>
              <tr style="font-size: 10pt;height: .2in;">
                <th style="border: .25pt solid black;text-align: center;font-family: Arial;size: 10pt;">
                  Application</th>
                <th style="border: .25pt solid black;text-align: center;font-family: Arial;size: 10pt;">
                  Property Address</th>
                <th style="border: .25pt solid black;text-align: center;font-family: Arial;size: 10pt;">
                  Public Hearing</th>
              </tr>
            </thead>
            <tbody>
              <!-- create tr for each Application where type = 'Text Amendment' -->
              <% applications.forEach(Application=> { %>
                <% if ( Application.type==='Text Amendment' && Application.NPU==NPUs.NPU ) { %>
                  <tr>
                    <td style="text-align: left;font-family: Arial;size: 10pt;border: .25pt solid rgb(105, 105, 105);">
                      <a href="<%= Application.applURL %> ">
                        <%= Application.title %>
                      </a><br>
                      <%= Application.descr %>
                    </td>
                    <td
                      style="border-bottom: 1px solid black;text-align: center;font-family: Arial;size: 10pt;border: .25pt solid rgb(105, 105, 105);"
                      valign="top">
                      <%= Application.address %>
                    </td>
                    <td
                      style="border-bottom: 1px solid black;text-align: center;font-family: Arial;size: 10pt;border: .25pt solid rgb(105, 105, 105);"
                      valign="top">
                      <%= Application.date %>
                    </td>
                  </tr>
                  <% } %>
                    <% }) %>
            </tbody>
          </table>
        </div>
        <div>
          <table
            style="margin: 0 auto 25px auto;break-inside: avoid;text-align: center;font-family: Arial;size: 10pt;border: .25pt solid rgb(105, 105, 105);width: 100%;border-collapse: collapse;">
            <thead>
              <tr style="background-color: palegoldenrod;">
                <th colspan="3" style="text-align: center;font-family: Arial;size: 12pt; font-weight: bold;"><a
                    style="color:initial; text-decoration:initial"
                    href="https://www.atlantaga.gov/government/departments/city-planning/office-of-zoning-development/zoning/2016-comprehensive-development-plan-cdp"
                    noopener noreferrer>Land Use Amendments -
                    Comprehensive Development Plan</a></th>
              </tr>
              <tr style="font-size: 10pt;height: .2in;">
                <th style="border: .25pt solid black;text-align: center;font-family: Arial;size: 10pt;">
                  Application</th>
                <th style="border: .25pt solid black;text-align: center;font-family: Arial;size: 10pt;">
                  Property Address</th>
                <th style="border: .25pt solid black;text-align: center;font-family: Arial;size: 10pt;">
                  Public Hearing</th>
              </tr>
            </thead>
            <tbody>
              <!-- create tr for each Application where type = 'CDP' -->
              <% applications.forEach(Application=> { %>
                <% if ( Application.type==='CDP' && Application.NPU==NPUs.NPU ) { %>
                  <tr>
                    <td style="text-align: left;font-family: Arial;size: 10pt;border: .25pt solid rgb(105, 105, 105);">
                      <a href="<%= Application.applURL %> ">
                        <%= Application.title %>
                      </a><br>
                      <%= Application.descr %>
                    </td>
                    <td
                      style="border-bottom: 1px solid black;text-align: center;font-family: Arial;size: 10pt;border: .25pt solid rgb(105, 105, 105);"
                      valign="top">
                      <%= Application.address %>
                    </td>
                    <td
                      style="border-bottom: 1px solid black;text-align: center;font-family: Arial;size: 10pt;border: .25pt solid rgb(105, 105, 105);"
                      valign="top">
                      <%= Application.date %>
                    </td>
                  </tr>
                  <% } %>
                    <% }) %>
            </tbody>
          </table>
        </div>
        <div>
          <table
            style="margin: 0 auto 25px auto;break-inside: avoid;text-align: center;font-family: Arial;size: 10pt;border: .25pt solid rgb(105, 105, 105);width: 100%;border-collapse: collapse;">
            <thead>
              <tr style="background-color: palegoldenrod;">
                <th colspan="3" style="text-align: center;font-family: Arial;size: 12pt; font-weight: bold;"><a
                    style="color:initial; text-decoration:initial" href="http://citycouncil.atlantaga.gov/">Proposed
                    Legislation - Atlanta City Council</a></th>
              </tr>
              <tr style="font-size: 10pt;height: .2in;">
                <th style="border: .25pt solid black;text-align: center;font-family: Arial;size: 10pt;">
                  Application</th>
                <th style="border: .25pt solid black;text-align: center;font-family: Arial;size: 10pt;">
                  Property Address</th>
                <th style="border: .25pt solid black;text-align: center;font-family: Arial;size: 10pt;">
                  Public Hearing</th>
              </tr>
            </thead>
            <tbody>
              <!-- create tr for each Application where type = 'Legislation' -->
              <% applications.forEach(Application=> { %>
                <% if ( Application.type==='Legislation' && Application.NPU==NPUs.NPU ) { %>
                  <tr>
                    <td style="text-align: left;font-family: Arial;size: 10pt;border: .25pt solid rgb(105, 105, 105);">
                      <a href="<%= Application.applURL %> ">
                        <%= Application.title %>
                      </a><br>
                      <%= Application.descr %>
                    </td>
                    <td
                      style="border-bottom: 1px solid black;text-align: center;font-family: Arial;size: 10pt;border: .25pt solid rgb(105, 105, 105);"
                      valign="top">
                      <%= Application.address %>
                    </td>
                    <td
                      style="border-bottom: 1px solid black;text-align: center;font-family: Arial;size: 10pt;border: .25pt solid rgb(105, 105, 105);"
                      valign="top">
                      <%= Application.date %>
                    </td>
                  </tr>
                  <% } %>
                    <% }) %>
            </tbody>
          </table>
        </div>
        <div>
        </div>
        <div id="R&C">
          <br>
          <p
            style="text-align: center;font-family: 'Century Gothic';font-size: 18pt;margin-bottom: 0;break-after: avoid-page;">
            MATTERS FOR REVIEW AND COMMENT</p>
          <p
            style="font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;text-align: center;size: 10pt;margin: 0 20px 20px 20px;padding: 0 20px;">
            Members can review subdivision applications and provide comments to be forwarded to the Subdivision Review
            Committee (SRC). Other applications may be presented to an NPU for review and comment when the address is
            within a 300-foot radius of the NPU's boundary. The Code of Ordinances does not require these applicants to
            attend NPU meetings. </p>
        </div>
        <div>
          <table
            style="margin: 0 auto 25px auto;break-inside: avoid;text-align: center;font-family: Arial;size: 10pt;border: .25pt solid rgb(105, 105, 105);width: 100%;border-collapse: collapse;">
            <thead>
              <tr style="background-color: rgb(200, 200, 200) !important;">
                <th colspan="3" style="text-align: center;font-family: Arial;size: 12pt; font-weight: bold;">
                  Subdivision Review Committee Applications (SD)
                </th>
              </tr>
              <tr style="font-size: 10pt;height: .2in;">
                <th style="border: .25pt solid black;text-align: center;font-family: Arial;size: 10pt;">
                  Application</th>
                <th style="border: .25pt solid black;text-align: center;font-family: Arial;size: 10pt;">
                  Property Address</th>
                <th style="border: .25pt solid black;text-align: center;font-family: Arial;size: 10pt;">
                  Public Hearing</th>
              </tr>
            </thead>
            <tbody>
              <!-- create tr for each Application where type = 'SD' && adjacent includes 'A' -->
              <% applications.forEach(Application=> { %>
                <% if ( Application.type==='SD' ) { %>
                  <tr>
                    <td style="text-align: left;font-family: Arial;size: 10pt;border: .25pt solid rgb(105, 105, 105);">
                      <a href="<%= Application.applURL %> ">
                        <%= Application.title %>
                      </a><br>
                      <%= Application.descr %>
                    </td>
                    <td
                      style="border-bottom: 1px solid black;text-align: center;font-family: Arial;size: 10pt;border: .25pt solid rgb(105, 105, 105);"
                      valign="top">
                      <%= Application.address %>
                    </td>
                    <td
                      style="border-bottom: 1px solid black;text-align: center;font-family: Arial;size: 10pt;border: .25pt solid rgb(105, 105, 105);"
                      valign="top">
                      <%= Application.date %>
                    </td>
                  </tr>
                  <% } %>
                    <% }) %>
            </tbody>
          </table>
        </div>
        <div>
          <table
            style="margin: 0 auto 25px auto;break-inside: avoid;text-align: center;font-family: Arial;size: 10pt;border: .25pt solid rgb(105, 105, 105);width: 100%;border-collapse: collapse;">
            <thead>
              <tr style="background-color: rgb(200, 200, 200) !important;">
                <th colspan="3" style="text-align: center;font-family: Arial;size: 12pt; font-weight: bold;"><a
                    style="color:initial; text-decoration:initial"
                    href="https://www.atlantaga.gov/government/departments/city-planning/office-of-zoning-development/zoning/board-of-zoning-adjustment-bza"
                    board of zoning adjustment applications (bza)>Board of Zoning Adjustment Applications (BZA)</a></th>
              </tr>
              <tr style="font-size: 10pt;height: .2in;">
                <th style="border: .25pt solid black;text-align: center;font-family: Arial;size: 10pt;">
                  Application</th>
                <th style="border: .25pt solid black;text-align: center;font-family: Arial;size: 10pt;">
                  Property Address</th>
                <th style="border: .25pt solid black;text-align: center;font-family: Arial;size: 10pt;">
                  Public Hearing</th>
              </tr>
            </thead>
            <tbody>
              <!-- prototype application section -->
              <% applications.forEach(Application=> { %>
                <% if ( Application.type==='BZA' && Application.adjacent.includes(NPUs.NPU)) { %>
                  <tr>
                    <td style="text-align: left;font-family: Arial;size: 10pt;border: .25pt solid rgb(105, 105, 105);">
                      <a href="<%= Application.applURL %> ">
                        <%= Application.title %>
                      </a><br>
                      <%= Application.descr %>
                    </td>
                    <td
                      style="border-bottom: 1px solid black;text-align: center;font-family: Arial;size: 10pt;border: .25pt solid rgb(105, 105, 105);"
                      valign="top">
                      <%= Application.address %> (NPU-<%= Application.NPU %>)
                    </td>
                    <td
                      style="border-bottom: 1px solid black;text-align: center;font-family: Arial;size: 10pt;border: .25pt solid rgb(105, 105, 105);"
                      valign="top">
                      <%= Application.date %>
                    </td>
                  </tr>
                  <% } %>
                    <% }) %>
            </tbody>
          </table>
        </div>
        <div id="publicNotice">
          <br>
          <p
            style="text-align: center;font-family: 'Century Gothic';font-size: 18pt;margin-bottom: 0;break-after: avoid-page;">
            PUBLIC NOTICES AND ANNOUNCEMENTS</p>
          <p
            style="font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;text-align: center;size: 10pt;margin: 0 20px 20px 20px;padding: 0 20px;">
            Provided for informational purposes. Votes/comments are neither required nor expected.</p>
        </div>
        <div>
          <% applications.forEach(Application=> { %>
            <% if ( Application.type==='Notice' && (Application.NPU===NPUs.NPU ||
              Application.adjacent.includes(NPUs.NPU))) { %>
              <table
                style="margin: 0 auto 25px auto;break-inside: avoid;text-align: center;font-family: Arial;size: 10pt;border: .25pt solid rgb(105, 105, 105);width: 100%;border-collapse: collapse;">
                <thead>
                  <tr style="background-color: rgb(200, 200, 200) !important;">
                    <th style="text-align: center;font-family: Arial;size: 12pt; font-weight: bold;">
                      <%= Application.title %>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td style="text-align: left;font-family: Arial;size: 10pt;border: .25pt solid rgb(105, 105, 105);">
                      <%= Application.descr %>
                    </td>
                  </tr>
                </tbody>
              </table>
              <% } %>
                <% }) %>
        </div>
      </div>
    </div>
  </article>
</body>